{
  "parser": "@typescript-eslint/parser",
    "extends": [
        "argosity",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
    ],
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "legacyDecorators": true,
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "16"
        }
    },
    "rules": {
        'react/prop-types': 0,
        'import/prefer-default-export': 0,
        '@typescript-eslint/no-explicit-any': 0,
    }
}
